@font-face{
    font-family: 'Sweet\ Mavka\ Script';
    src: url("src/Sweet\ Mavka\ Script.otf") format("opentype");
}

/*header*/
.headbackground{
    position: absolute;
    width: 1920px;
    height: 244px;
    left: 0px;
    top: 0px;
    background: url(src/image.png);
}
.logo{
    position: absolute;
    width: 152px;
    height: 152px;
    left: 884px;
    top: 15px;
}
.log-in{
    position: absolute;
    width: 98px;
    height: 38px;
    left: 1094px;
    top: 43px;

    background: #8CB6E9;
    border-radius: 15px;
}
.log-in-text{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: 'Sweet\ Mavka\ Script';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 15px;
    display: contents;
    align-items: flex-end;
    text-align: center;

    color: #2D304E;
}
.register{
    background-color: transparent;
    position: absolute;
    width: 154px;
    height: 27px;
    left: 1217px;
    top: 52px;

    font-family: 'Sweet Mavka Script';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-decoration-line: underline;

    color: #2D304E;
}

.menu, .stock, .about, .basket{
    position: absolute;
    width: 196px;
    height: 56px;
    top: 177px;

    background: #8CB6E9;
    border-radius: 28px;

    font-family: 'Sweet Mavka Script';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    align-items: center;
    text-align: center;

    color: #2D304E;
}

.menu{
    left: 532px;
}
.stock{
    left: 752px;
}
.about{
    left: 972px;
}
.basket{
    left: 1192px
}

/*main text*/
body{
    background: url(src/backbody.jpg);
    background-size: 100%;
    background-repeat: repeat;
    overflow-x: hidden;

}
.content{
    position: absolute;
    width: 1848px;
    height: 2007px;
    left: 40px;
    top: 305px;
    overflow-y: scroll;
}
.backinfo{
    position: absolute;
    width: 1516px;
    height: 2625px;
    left: 200px;
    top: 244px;

    background: #C9B9B1;
    border-radius: 95px;
}
.stockx{
    position: relative;
    width: 1344px;
    height: 550px;
    left: 90px;
    top: 90px;
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.stockx::-webkit-scrollbar{
    width: 0px;
}
.blockinx{
    box-sizing: border-box;
    position: absolute;
    width: 579px;
    height: 464px;
    top: 40px;
    display: inline-block;
    border: 6px solid #000000;
    border-radius: 80px;
}

#manul{
    background: url(https://i.ytimg.com/vi/juPM6969zyg/maxresdefault.jpg); 
    background-size: cover;
    left: 0px;
    background-position: 50%;
}
#crotovuha{
    background: url(https://sun9-84.userapi.com/impg/LA197jCu8LuD6qnLjevb5g7e1xuple3Hq2GU4g/LhLM4gYOIEs.jpg?size=348x491&quality=95&sign=d82939dc56c1048043f4be515d13dce0&c_uniq_tag=UoVUYZhDBlK9A_LusbrGfAu0TEeeauV8xVxPpy59Vok&type=album);
    background-size: cover;
    background-position: 50%;
    left: 604px;
}
#manulhelp{
    background: url(https://sun9-12.userapi.com/impg/c854128/v854128410/1ec2ea/YkYSqO93mX0.jpg?size=604x604&quality=96&sign=9b9acdcb08d75afcaddeac2e736e05f2&type=album);
    background-size: cover;
    background-position: 50%;
    left: 1208px;
}

.line{
    position: absolute;
    width: 1344px;
    height: 0px;
    left: 84px;
    top: 603px;
    border-radius: 90px;
    border: 6px solid #000000;
}
.HeadText{
    position: absolute;
    width: 580px;
    height: 93px;
    top: 546px;
    
    font-family: 'Sweet Mavka Script';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 93px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    text-align: center;
    
    color: #000000;
}
#first{
    left: 473px;    
}

/*card shop*/

.card{
    position: absolute;
    width: 416px;
    height: 680px;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 45px;
}
.shopblock {
    position: absolute;
width: 416px;
height: 680px;
left: 88px;
top: 736px;
}
.shopblock2{
position: absolute;
width: 416px;
height: 680px;
left: 1010px;
top: 736px;
}
.shopblock1{
    position: absolute;
    width: 416px;
    height: 680px;
    left: 549px;
    top: 736px;
}
.card > img{
    position: absolute;
    width: 344px;
    height: 236px;
    left: 40px;
    top: 40px;
}

.textinblock {
    position: absolute;
    width: 344px;
    height: 44px;
    left: 40px;
    top: 276px;

    font-family: 'Sweet Mavka Script';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2D304E;
}
.V{
    position: absolute;
    width: 177px;
    height: 40px;
    left: 40px;
    top: 320px;

    font-family: 'Sweet Mavka Script';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;

    color: #2D304E;
}
.Dis{
    position: absolute;
    width: 163px;
    height: 40px;
    left: 221px;
    top: 320px;

    font-family: 'Sweet Mavka Script';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    text-align: right;

    color: #2D304E;

}

.textscrollinblock{
    position: absolute;
width: 344px;
height: 233px;
left: 40px;
top: 374px;
overflow-y: scroll;
}
.textscrollinblock > p{

font-family: 'Sweet Mavka Script';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;

color: #2D304E;
}
.buy{
    position: absolute;
width: 112px;
height: 32px;
left: 152px;
top: 625px;

background: #8CB6E9;
border-radius: 16px;

font-family: 'Sweet Mavka Script';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17px;
align-items: center;
text-align: center;

color: #2A0600;
}

/*новинки*/
.line1{
    position: absolute;
    width: 1344px;
    height: 0px;
    left: 84px;
    top: 1452px;
    border-radius: 90px;
    border: 6px solid #000000;
}
#second{
    position: absolute;
    width: 232px;
height: 93px;
left: 632px;
top: 1403px;
}

.shopblock3{
    position: absolute;
width: 416px;
height: 680px;
left: 88px;
top: 1562px;
}
.shopblock4{
    position: absolute;
    width: 416px;
    height: 680px;
    left: 549px;
    top: 1562px;
}
.shopblock5{
    position: absolute;
    width: 416px;
    height: 680px;
    left: 1010px;   
    top: 1562px;
}

.line2{
    position: absolute;
    width: 1344px;
    height: 0px;
    left: 84px;
    top: 2275px;

    border-radius: 90px;
    border: 6px solid #000000;
}

.endcontent{
    position: absolute;
width: 1337px;
height: 250px;
left: 85px;
top: 2315px;

background: rgba(255, 255, 255, 0.5);
border-radius: 75px;
}

.endcontent > p{
    font-family: 'Sweet Mavka Script';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 90px;

align-items: center;
text-align: center;

color: #2D304E;
}

.endcontent >p >button{
    background: #8CB6E9;
border-radius: 16px;

font-family: 'Sweet Mavka Script';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 93px;
align-items: center;
text-align: center;

color: #2A0600;
}

/*footer*/
footer{
    position: absolute;
    width: 1920px;
    height: 260px;
    left: 0px;
    top: 2925px;

    background: url(src/image.png);
}

.logo1{
    position: absolute;
    width: 196px;
    height: 186px;
    left: 313px;
    top: 38px;
}

.VK{
    position: absolute;
    width: 54px;
    height: 54px;
    left: 642px;
    top: 80px;
}

.Telegram{
    position: absolute;
    width: 54px;
    height: 54px;
    left: 642px;
    top: 26px;
}

.underlogos, .underlogos1, .underlogos2{
font-family: 'Sweet Mavka Script';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;

color: #2D304E;
}

.underlogos{
    position: absolute;
    width: 390px;
    height: 31px;
    left: 642px;
    top: 120px;
}

.underlogos1{
    position: absolute;
width: 409px;
height: 36px;
left: 642px;
top: 151px;
}

.underlogos2{
    position: absolute;
width: 390px;
height: 36px;
left: 642px;
top: 187px;
}

.column1{
    position: absolute;
    width: 171px;
    height: 35px;
    left: 1163px;
    
    font-family: 'Sweet Mavka Script';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    
    color: #2D304E; 
}

.a, .e, .h{
    text-decoration-line: underline;
    top: 20px;
}

.b, .f,.j{
    top: 55px;
}

.c,.f,.k{
    top: 89px;
}

.d, .l{
    top: 124px;
}

.column2{
    position: absolute;
width: 107px;
height: 35px;
left: 1381px;

font-family: 'Sweet Mavka Script';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;

color: #2D304E;
}

.column3{
    position: absolute;
width: 138px;
height: 34px;
left: 1531px;


font-family: 'Sweet Mavka Script';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;


color: #2D304E;
}